name: Build single binary on Linux

on:
  push:
    branches-ignore:
      - dependabot/**
    tags:
      - v*
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: |
          docker build -t kvika -f cmd/kvika/Dockerfile .
          mkdir -p artifacts
          docker run --rm -v "${PWD}:/artifacts" --entrypoint '' kvika cp /kvika /artifacts/kvika
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          name: kvika
          path: kvika
      - name: Show ldd
        shell: bash
        run: |
          if ldd kvika; then
            echo "Dynamically linked!"
            false
          else
            echo "Statically linked!"
          fi

  release:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Create release
        id: create_release
        uses: actions/create-release@v1.1.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          commitish: ${{ github.sha }}
          draft: true
          prerelease: false
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}

  upload:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: kvika
          path: kvika
      - name: Upload release asset
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: kvika/kvika
          asset_name: kvika
          asset_content_type: application/x-elf
